* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://cdn.pixabay.com/photo/2016/10/07/14/42/space-1721695_1280.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: blueviolet;
}

#paper {
    background-color: blue;
}

#scissors {
    background-color: greenyellow;
}